node_modules
.env
.env.local
.env.*
.next/
.next/*
.vercel
.parcel-cache
.turbo
public/static
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
build/
dist/
.vscode/
.idea/
*.log
*.local
tsconfig.tsbuildinfo
*.tgz
*.zip